<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee status</th>
      <th>Employee first name</th>
      <th>Employee last name</th>
      <th>Employee email</th>
      <th>Employee phone</th>
      <th>Employee type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.Employee_Status_id %></td>
        <td><%= employee.Employee_First_Name %></td>
        <td><%= employee.Employee_Last_Name %></td>
        <td><%= employee.Employee_Email %></td>
        <td><%= employee.Employee_Phone %></td>
        <td><%= employee.Employee_Type_id %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
