<p id="notice"><%= notice %></p>

<p>
  <strong>Employee status:</strong>
  <%= @employee.Employee_Status_id %>
</p>

<p>
  <strong>Employee first name:</strong>
  <%= @employee.Employee_First_Name %>
</p>

<p>
  <strong>Employee last name:</strong>
  <%= @employee.Employee_Last_Name %>
</p>

<p>
  <strong>Employee email:</strong>
  <%= @employee.Employee_Email %>
</p>

<p>
  <strong>Employee phone:</strong>
  <%= @employee.Employee_Phone %>
</p>

<p>
  <strong>Employee type:</strong>
  <%= @employee.Employee_Type_id %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
