<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Status:</strong>
  <%= @customer.Customer_Status.Customer_Status_Name %>
</p>

<p>
  <strong>Customer Name:</strong>
  <%= @customer.Customer_First_Name + ' ' + @customer.Customer_Last_Name %>
</p>

<p>
  <strong>Customer Email:</strong>
  <%= @customer.Customer_Email %>
</p>

<p>
  <strong>Customer Phone:</strong>
  <%= @customer.Customer_Phone %>
</p>

<p>
  <strong>Customer Street Address:</strong>
  <%= @customer.Customer_Street_Address %>
</p>

<p>
  <strong>Customer City:</strong>
  <%= @customer.Customer_City %>
</p>

<p>
  <strong>Customer State:</strong>
  <%= @customer.Customer_State %>
</p>

<p>
  <strong>Customer Zip Code:</strong>
  <%= @customer.Customer_Zip_Code %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
