<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Order_Description %>
    <%= form.text_area :Order_Description %>
  </div>

  <div class="field">
    <%= form.label :Order_Type_id %>
    <%= form.collection_select :Order_Type_id, OrderType.all, :id, :Order_Description %>
  </div>

  <div class="field">
    <%= form.label :Order_Status_id %>
    <%= form.collection_select :Order_Status_id, OrderStatus.all, :id, :Order_Status_Name %>
  </div>

  <div class="field">
    <%= form.label :Customer_id %>
    <%= form.collection_select :Customer_id, Customer.all, :id, :Customer_First_Name%>
  </div>

  <div class="field">
    <%= form.label :Venue_Street_Address %>
    <%= form.text_field :Venue_Street_Address %>
  </div>

  <div class="field">
    <%= form.label :Venue_City %>
    <%= form.text_field :Venue_City %>
  </div>

  <div class="field">
    <%= form.label :Venue_State %>
    <%= form.text_field :Venue_State %>
  </div>

  <div class="field">
    <%= form.label :Venue_Zip %>
    <%= form.text_field :Venue_Zip %>
  </div>

  <div class="field">
    <%= form.label :Order_Cost %>
    <%= form.number_field :Order_Cost %>
  </div>

  <div class="field">
    <%= form.label :Order_Delivery %>
    <%= form.check_box :Order_Delivery %>
  </div>

  <div class="field">
    <%= form.label :Order_Due_Date %>
    <%= form.datetime_select :Order_Due_Date %>
  </div>

  <div class="field">
    <%= form.label :Order_Start_Date %>
    <%= form.datetime_select :Order_Start_Date %>
  </div>

  <div class="field">
    <%= form.label :Order_Date_Finish %>
    <%= form.datetime_select :Order_Date_Finish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
